<div class="flabHeader flabHeader--default" style="background-image: url(images/about/head/slide_1.jpg)">
  <div class="flabHamburger">
    <span class="flabHamburger__item"></span>
    <span class="flabHamburger__item"></span>
    <span class="flabHamburger__item"></span>
  </div>
  <div class="flabHeader__topLine">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="flabHeader__lang">
            <ul class="flabHeader__langLists">
              <li class="flabHeader__langItem flabHeader__langItem--active">
                <a href="#" class="flabHeader__langLink">Рус</a>
              </li>
              <li class="flabHeader__langItem">
                <a href="#" class="flabHeader__langLink">Eng</a>
              </li>
              <li class="flabHeader__langItem">
                <a href="#" class="flabHeader__langLink">Deu</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="flabHeader__phone">
            <i class="flabIcon flabio-phone"></i>
            <a href="tel:+996555042481" class="flabHeader__phoneLink">+(996) 555 042 481</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flabHeader__nav">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-12">
          <ul class="flabHeader__navLists flabNavigation">
            <li class="flabNavigation__item">
              <a href="#" class="flabNavigation__link">Главная</a>
            </li>
            <li class="flabNavigation__item flabNavigation__item--active">
              <a href="#" class="flabNavigation__link">О нас</a>
            </li>
            <li class="flabNavigation__item">
              <a href="#" class="flabNavigation__link">Номера</a>
            </li>
            <li class="flabNavigation__item flabNavigation__item--submenu">
              <a href="#" class="flabNavigation__link">Услуги</a>
              <ul class="flabSubmenu">
                <li class="flabSubmenu__item">
                  <a class="flabSubmenu__link" href="#">Туры</a>
                </li>
                <li class="flabSubmenu__item">
                  <a class="flabSubmenu__link" href="#">Кухня</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-12">
          <div class="flabHeader__logo">
            <a href="#" class="flabHeader__logoLink">
              <img src="images/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-xl-5 col-lg-12">
          <ul class="flabHeader__navLists flabNavigation">
            <li class="flabNavigation__item flabNavigation__item--submenu">
              <a href="#" class="flabNavigation__link">Галерея</a>
              <ul class="flabSubmenu">
                <li class="flabSubmenu__item">
                  <a class="flabSubmenu__link" href="#">Туры</a>
                </li>
                <li class="flabSubmenu__item">
                  <a class="flabSubmenu__link" href="#">Кухня</a>
                </li>
              </ul>
            </li>
            <li class="flabNavigation__item">
              <a href="#" class="flabNavigation__link">Блог</a>
            </li>
            <li class="flabNavigation__item">
              <a href="#" class="flabNavigation__link">Отзывы</a>
            </li>
            <li class="flabNavigation__item">
              <a href="#" class="flabNavigation__link">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flabHeader__content">
    <h2 class="flabHeader__contentHead">О нас</h2>
  </div>
</div>
<!-- flabHeader end -->